.calculator {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 310px;
    margin: auto;
    background-color: #48B8D0;
    padding: 15px 20px 15px 15px;
    border-radius: 10px;
    border: 3px black solid;
    margin-top: 210px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 15px;
    margin: 5px;
    border: 1px solid black;
    background-color: #F5E5FC;
    width: 300px;
    height: 70px;
    overflow: visible;
}

.current-number {
    font-size: 40px;
}

.previous-number {
    font-size: large;
}

button {
    padding: 12px;
    font-size: larger;
    border-radius: 5px;
    border: 2px black solid;
}

button:hover {
    background-color: #F5E5FC;
    transition: 1s;
    transform: scale(1.1);
}

.equals {
    grid-row: span 2;
}